workflows/AWS Blogs.json
{
  "id": 2,
  "name": "AWS Blogs",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "position": [
        -500,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"RSSFeedRead\"].json[\"content:encoded\"]}}",
              "operation": "contains",
              "value2": "ONTAP"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        280,
        220
      ]
    },
    {
      "parameters": {
        "pageId": "https://www.notion.so/AWS-Blogs-2ad7bbc93b6f48f1b66675cdb64e22da",
        "title": "={{$node[\"IF1\"].json[\"title\"]}}",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{$node[\"IF1\"].json[\"date\"]}}"
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{$node[\"IF1\"].json[\"ContentEncoded\"]}}",
                    "annotationUi": {}
                  },
                  {
                    "text": "View Blog",
                    "isLink": true,
                    "textLink": "={{$node[\"IF1\"].json[\"Url\"]}}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        }
      },
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        660,
        560
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nfor (item of items) {\n  if($node.NotionSearch.json.name == item.json.title) {\n    item.json.Exists = true;\n    item.json.Url = $node.HTTPRequest.parameter.url;\n    item.json.ContentEncoded = $node.RenameKeys.json.content;\n  }\n  else {\n    item.json.Exists = false;\n    item.json.Url = $node.HTTPRequest.parameter.url;\n    item.json.ContentEncoded = $node.RenameKeys.json.content;\n  }\n}\n\n\n// You can write logs to the browser console\nconsole.log('Done!');\n\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        180,
        680
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "body",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "#aws-page-content > div.aws-blog-content.lb-row.lb-row-max-large.lb-snap.lb-gutter-mid > main > article > h1"
            },
            {
              "key": "date",
              "cssSelector": "#aws-page-content > div.aws-blog-content.lb-row.lb-row-max-large.lb-snap.lb-gutter-mid > main > article > footer.blog-post-meta > time"
            },
            {
              "key": "content",
              "cssSelector": "#aws-page-content > div.aws-blog-content.lb-row.lb-row-max-large.lb-snap.lb-gutter-mid > main > article > section p"
            },
            {
              "key": "audiolink",
              "cssSelector": "#amazon-ai-player > source",
              "returnValue": "attribute",
              "attribute": "src"
            }
          ]
        },
        "options": {}
      },
      "name": "HTMLExtract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -160,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Function\"].json[\"Exists\"]}}",
              "value2": "={{false}}"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        680
      ]
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        660,
        780
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "text": "={{$node[\"HTMLExtract\"].json[\"title\"]}}",
        "limit": 1,
        "options": {}
      },
      "name": "NotionSearch",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        60,
        440
      ],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$node[\"IF\"].json[\"link\"]}}",
        "allowUnauthorizedCerts": true,
        "responseFormat": "string",
        "dataPropertyName": "body",
        "options": {
          "followAllRedirects": true
        }
      },
      "name": "HTTPRequest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://aws.amazon.com/blogs/aws/feed/"
      },
      "name": "RSSFeedRead",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -40,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "content:encodedSnippet",
              "newKey": "contentEncodedSnippet"
            },
            {
              "currentKey": "content:encoded",
              "newKey": "contentEncoded"
            }
          ]
        }
      },
      "name": "RenameKeys",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        120,
        100
      ]
    },
    {
      "parameters": {
        "interval": 30,
        "unit": "minutes"
      },
      "name": "Interval",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -220,
        40
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        []
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTPRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTMLExtract": {
      "main": [
        [
          {
            "node": "NotionSearch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NotionSearch": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTPRequest": {
      "main": [
        [
          {
            "node": "HTMLExtract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSSFeedRead": {
      "main": [
        [
          {
            "node": "RenameKeys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RenameKeys": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interval": {
      "main": [
        [
          {
            "node": "RSSFeedRead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-06-12T10:01:36.563Z",
  "updatedAt": "2022-06-12T13:40:07.720Z",
  "settings": {},
  "staticData": null,
  "tags": []
}